Project 3

A / B Testing Analysis

In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats

In [2]:
df=pd.read_csv(r"C:\Users\Administrator\Desktop\ab_data.csv") # Load the dataset

In [3]:
df.head()  # Display the first few rows of the dataset

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [4]:
df.isnull().sum() #Check the Null values

user_id         0
timestamp       0
group           0
landing_page    0
converted       0
dtype: int64

In [5]:
df['group'].unique()
# Display unique values in the 'group' column to confirm the presence of A and B

array(['control', 'treatment'], dtype=object)

In [6]:
conversion_rate_A = df[df['group'] == 'A']['converted'].mean() # Display the conversion rates in both groups
conversion_rate_B = df[df['group'] == 'B']['converted'].mean()

In [7]:
print(f"Conversion rate for group A: {conversion_rate_A:.2%}")
print(f"Conversion rate for group B: {conversion_rate_B:.2%}")

Conversion rate for group A: nan%
Conversion rate for group B: nan%

In [8]:
contingencytable = pd.crosstab(df['group'], df['converted']) # Create a contingency table

In [9]:
contingencytable

converted       0      1
group
control    129479  17723
treatment  129762  17514

In [10]:
chi2, p, dof, ex = stats.chi2_contingency(contingencytable) # Perform the Chi-Square test

print("\nChi-Square Test Results")
print(f"Chi2 Statistic: {chi2}")
print(f"P-value: {p}")

Chi-Square Test Results
Chi2 Statistic: 1.5159618356336582
P-value: 0.2182316121631168

In [11]:
#Predict the results
alpha = 0.21;
if p < alpha:
    print("Alternative hypothesis: There is a significant difference between the two groups.")
else:
    print("Null hypothesis: There is no significant difference between the two groups.")

Null hypothesis: There is no significant difference between the two groups.